body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.block {
  padding: 0 1em;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-dark {
  filter: brightness(50%);
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid black; */
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2em;
}

.section {
  padding: 50px 20px;
}

.bg-navbar-gray {
  background-color: #860f0f;
}

.hover-red:hover {
  color: red;
}

.button-red {
  background-color: #a11010;
  border: none;
}

.button-red:hover {
  background-color: #590c0c;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/hero.jpg') no-repeat center center fixed;
  height: 600px;
  background-size: cover;

}

.border-red {
  border-color: #a11010;
}



.bg-gray {
  background-color: #1c1919;
}

.section {
  background-color: #000000;
}

.card-rectangle {

  height: 350px;
}